{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section id="login-wrap">
  <div class="container">
    <h1 class="section-heading-wrap">Login</h1>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <div class="main-tab-bar">
          <div class="tab-bar1">
            <a class="tab-bar2 active" href="{{ url_for('users.login') }}"
              >Login</a
            >
          </div>
          
          <div class="tab-bar1">
            <a class="tab-bar2-2" href="{{ url_for('users.register') }}">
              Register Account
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="webshop-desc">
          <p style="font-weight: 600">
            Welcome to our liquor website. You can still use your old
            account. 
          </p>
          <p></p>

          
          <p style="font-weight: 600">
            Contact websupport:info@TasteTales.com
          </p>

          {% from "_formhelpers.html" import render_field %}
          <form method="post" action="{{ url_for('users.login') }}">
            {{ form.csrf_token }}
            <dl class="login-form">
              {{ render_field(form.email) }}
              <br />
              {{ render_field(form.password) }}
              

              <div class="row">
                <div class="col-6 col-md-6">
                  
                </div>
                <div class="col-6 col-md-6">
                  <div style="text-align: right">
                    <!-- <button class="btn-login">Login</button> -->
                    <input
                      type="submit"
                      value="Login"
                      class="btn-login"
                    />
                  </div>
                </div>
              </div>

              
            </dl>
          </form>
        </div>
      </div>
      <div class="col-md-4 my-auto">
        <div class="become-customer">
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
